a {
  text-decoration: none;
  color: cornflowerblue;
  padding: 2px;
}
a.active {
  border-bottom: 1px solid cornflowerblue;
}
.app-nav {
  line-height: 36px;
}

.badge {
  color: white;
  background: red;
  border-radius: 50%;
  padding: 0px 5px;
  font-size: 12px;
}